<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Data</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #root{
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: no-repeat;
        }

        form{
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: fit-content;
            background-color: white;
            padding: 40px;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
        }
        form button{
            width: 120px;
            height: 5vh;
            padding: 5px;
            background-color: white;
            color: black;
            border-radius: 40px;
            border: none;
            box-shadow: 4px 2px 4px black;
            font-size: 1em;
            margin-top: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        form textarea{
            display: block;
            resize: none;
            width: 20vw;
            height: 4vh;
            max-width: 20vw;
            max-height: fit-content;
            background-color: black;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 2px gray;
            padding: 10px;
        }
       
     
        div h3{
            margin-top: 4px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
    </style>
</head>
<body style="background-color: black;">
    <div id="root" style="width: 100%; height: fit-content; padding: 100px 0;">
        <form method="POST" action="/">
            <textarea name="movie" id="movie" maxlength='24'></textarea>
            <button type="submit">Search</button>
            <% if(locals.data) { %>
            <div id="result" style="display: flex; padding: 20px; border-radius: 20px; width: 50vw; height: fit-content; background-color: lightblue; margin-top: 30px;">
                <img src="<%= data[0].show.image.medium %>" alt="image" style="width: 300px; height: 300px; box-shadow: 2px 2px 4px black; border-radius: 10px; align-self: center;">
                <div class="content" style="display: flex; flex-direction: column; padding: 20px;">
                <h3>Name : <%= data[0].show.name %></h3>
                <h3>Year : <%= data[0].show.premiered %></h3>
                <h3>Rating : <%= data[0].show.rating.average %></h3>
                <h3>Runtime : <%= data[0].show.runtime %></h3>
                <h3>Genre : <%= data[0].show.genres %></h3>
                <h3>Plot : <%- data[0].show.summary %></h3>
                </div>
            </div>
            <% } %>
        </form>
    </div>
</body>
</html>